:host {
    color: var(--text-color-8);
    margin: 0px;
}

.resume-container {
    max-width: 95vw;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1em;
}

.name {
    font-size: 3rem;
    display: flex;
    gap: .15em;
    color: var(--color-1);
    justify-content: baseline;
}

.first-name {
    font-family: 'Ostrich Medium';
}

.last-name {
    font-family: 'Ostrich Heavy';
}

.contact {
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-self: flex-end;
    align-self: center;
}

.summary {
    padding: 0.4em 0em;
}

@media screen and (max-width: 800px){

    .contact {
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 550px){

    .contact {
        grid-template-columns: repeat(1, auto);
    }
}