:host {
    display: block;
}

// li {
//     padding: 5px;
//     border-radius: 15px;
//     border: solid 2px transparent;
//     background-image: linear-gradient(white, white), 
//                       linear-gradient(45deg, var(--color-2), var(--color-3));
//     background-origin: border-box;
//     background-clip: padding-box, border-box;
// }

li {
    padding: 5px;
    border-radius: 10px;
    border: solid 1px var(--text-color-2);
}

ul {
    list-style: none;
    display: flex;
    margin: 0.5em 0;
    padding: 0;
    gap: 10px;
    flex-wrap: wrap;
}


li::marker {
  content: ""; /* Adds a star followed by a space */
}
