:host {
    display: block;
}

// li {
//     padding: 5px;
//     border-radius: 10px;
//     border: solid 1px transparent;
//     background-image: linear-gradient(white, white), 
//                       linear-gradient(45deg, var(--color-2), var(--color-3));
//     background-origin: border-box;
//     background-clip: padding-box, border-box;
// }

li {
    padding: 4px;
    border-radius: 10px;
    border: solid 1px var(--color-2);
}

ul {
    list-style: none;
    display: flex;
    padding: 0.8em 0em;
    gap: 10px 8px;
    flex-wrap: wrap;
}

li::marker {
  content: "";
}
